/* Agrega estos estilos en tu archivo CSS */
.popup-container-historial input,
.popup-container-historial select {
	background-color: black; /* Fondo negro */
	color: white; /* Texto blanco */
	border: 1px solid white; /* Borde blanco */
	padding: 5px; /* Espaciado interior */
	margin: 5px 0; /* Espaciado exterior superior e inferior */
}

/* Estilos adicionales para el estado */
.popup-container-historial select {
	width: 100%; /* Asegura que el select ocupe todo el ancho disponible */
}
